 color: #F2E7DC;
 color: #666666;
 color: #FF4858;

html{
 background-color: #F2E7DC;
 color: #666666;
 font-size: 18px;
 font-family: sans-serif;
}

p {
 text-indent: 1em;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
}

h2 {
    text-align: center;
    font-size: 1.4rem;
}

h3 {
    text-align:center;
    font-size: 1.2rem;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro {
    height: 550px;
}

.design-archives {
    display: none;
}

#zen-intro header {
background-color: #666666;
color:  #F2E7DC;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

#zen-intro header h1 {
    margin: 0 1em 0;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    margin: 4%
}

.main footer a {
    border: solid 2px #FF4858;
    padding: 0.5em;
    display: inline-block;
}



